/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* google fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat); 

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #efefef;
    background-attachment:fixed;
    font-family: 'Montserrat', sans-serif;
    font-size:9px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* responsive stuff */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

/* onze eigen code */
#banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #dc006d;
    color: white;
    text-align: center;
}

#banner2 {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 7%;
    background-color: #cb005e;
    color: white;
    text-align: center;
}

#banner2 > .tab {
    text-decoration: none;
    color: white;
    width: 50%;
    float: left;
    line-height: 100%;
}

iframe {
    position: absolute;
    top: 17%;
    width: 100%;
    height: 83%;
    border: none;
}

#instellingen {
    text-align: center;
    padding-top: 30%;
}

#instellingen > select {
    font-family: 'Montserrat', sans-serif;
}

#footer {
    z-index: 1;
    position: fixed;
    top: 93%;
    width: 100%;
    height: 7%;
    background-color: #cb005e;
    color: white;
    text-align: center;
}

#footer > .tab {
    text-decoration: none;
    color: white;
    line-height: 100%;
}

#footer > .tab.sided {
	width: 50%;
	float: left;
}

.page {
	display: none;
}

.page.selected {
	display: block;
}

.tab.selected > h2 {
	color: #cccccc;
}

.hidden {
	display: none;
}

@media screen and (min-width:320px) {
	body {
		font-size: 9px;
	}
	
	select {
		font-size: 9px;
	}
	
	#banner {
		font-size: 12px;
	}
}

@media screen and (min-width:480px) {
	body {
		font-size: 14px;
	}
	
	select {
		font-size: 14px;
	}
	
	#banner {
		font-size: 18px;
	}
}

@media screen and (min-width:540px) {
	body {
		font-size: 15px;
	}
	
	select {
		font-size: 15px;
	}
	
	#banner {
		font-size: 20px;
	}
}

@media screen and (min-width:695px) {
	body {
		font-size: 20px;
	}
	
	select {
		font-size: 20px;
	}
	
	#banner {
		font-size: 26px;
	}
}

@media screen and (min-width:855px) {
	body {
		font-size: 24px;
	}
	
	select {
		font-size: 24px;
	}
	
	#banner {
		font-size: 32px;
	}
}

@media screen and (min-width:1015px) {
	body {
		font-size: 29px;
	}
	
	select {
		font-size: 29px;
	}
	
	#banner {
		font-size: 38px;
	}
}
